body   {
    background-color: rgb(164, 164, 252);
}

.heading  {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    text-align: center;
}

.mainText   {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    text-align: center;
}

.box  {
    max-width: 700px;
    margin: 10px auto;
    padding: 50px;
    background-color: lightblue;
    border: black 2px solid;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(79, 112, 146);
}

.box2  {
    margin: 20px auto;
    align-content: center;
    max-width: 710px;
    background-color: lightblue;
    border: black 2px solid;
    box-shadow: 10px 10px 10px rgb(79, 112, 146);
}

.natural {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    background-color: white;
    color: black;
    width: 50px;
    height: 200px;
}

.sharpFlat {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    background-color: black;
    color: white;
    width: 50px;
    height: 200px;
}